# <font color='white'> Japan Real Estate Prices Analysis 

## <font color='pink'> Data Cleaning in **Python**

In [45]:
import pandas as pd
import numpy as np

In [46]:
tk = pd.read_csv('./Tokyo_22.csv')

In [47]:
tk.shape

(516341, 29)

In [48]:
tk.head()

,No,Type,Region,"City,Town,Ward,Village code",Prefecture,"City,Town,Ward,Village",Area,Nearest stationFName,Nearest stationFDistance(minute),Transaction-price(total),...,Purpose of Use,Frontage roadFDirection,Frontage roadFClassification,Frontage roadFBreadth(m),City Planning,Maximus Building Coverage Ratio(%),Maximus Floor-area Ratio(%),Transaction period,Renovation,Transactional factors
0,1,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,13000000.0,...,House,NaN,NaN,NaN,Commercial Zone,80.0,700.0,4th quarter 2022,NaN,NaN
1,2,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,2,44000000.0,...,House,NaN,NaN,NaN,Commercial Zone,80.0,700.0,4th quarter 2022,Done,NaN
2,3,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,120000000.0,...,Shop,NaN,NaN,NaN,Commercial Zone,80.0,700.0,3rd quarter 2022,Not yet,NaN
3,4,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,150000000.0,...,House,NaN,NaN,NaN,Category II Residential Zone,60.0,400.0,3rd quarter 2022,Not yet,NaN
4,5,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,2,130000000.0,...,House,NaN,NaN,NaN,Commercial Zone,80.0,500.0,3rd quarter 2022,Not yet,NaN

In [49]:
tk['Transaction-price(total)'].head()

0     13000000.0
1     44000000.0
2    120000000.0
3    150000000.0
4    130000000.0
Name: Transaction-price(total), dtype: float64

In [50]:
tk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516341 entries, 0 to 516340
Data columns (total 29 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   No                                  516341 non-null  int64
 1   Type                                516341 non-null  object
 2   Region                              274758 non-null  object
 3   City,Town,Ward,Village code         516341 non-null  int64
 4   Prefecture                          516341 non-null  object
 5   City,Town,Ward,Village              516341 non-null  object
 6   Area                                516095 non-null  object
 7   Nearest stationFName               514275 non-null  object
 8   Nearest stationFDistance(minute)   505612 non-null  object
 9   Transaction-price(total)            516341 non-null  float64
 10  Layout                              231955 non-null  object
 11  Area(m^2)                           516341 non-null  object
 12  Transaction-price(Unit price m^2)   95741 non-null   float64
 13  Land shape                          274341 non-null  object
 14  Frontage                            251000 non-null  object
 15  Total floor area(m^2)               171897 non-null  object
 16  Year of construction                404505 non-null  object
 17  Building structure                  408582 non-null  object
 18  Use                                 387679 non-null  object
 19  Purpose of Use                      260834 non-null  object
 20  Frontage roadFDirection            274334 non-null  object
 21  Frontage roadFClassification       271313 non-null  object
 22  Frontage roadFBreadth(m)           269531 non-null  float64
 23  City Planning                       511460 non-null  object
 24  Maximus Building Coverage Ratio(%)  509023 non-null  float64
 25  Maximus Floor-area Ratio(%)         509023 non-null  float64
 26  Transaction period                  516341 non-null  object
 27  Renovation                          214893 non-null  object
 28  Transactional factors               38933 non-null   object
dtypes: float64(5), int64(2), object(22)
memory usage: 114.2+ MB

In [51]:
mask=tk['Area(m^2)'] == '2,000 m^2 or greater.'

In [52]:
tk[mask].shape

(1508, 29)

In [53]:
tk['Transaction-price(total)'].describe()

count    5.163410e+05
mean     6.637862e+07
std      3.793280e+08
min      5.000000e+02
25%      2.200000e+07
50%      3.600000e+07
75%      5.500000e+07
max      1.700000e+11
Name: Transaction-price(total), dtype: float64

In [54]:
tk.isna().sum().sort_values(ascending=False)[:28] / tk.shape[0]

Transactional factors                 0.924598
Transaction-price(Unit price m^2)     0.814578
Total floor area(m^2)                 0.667086
Renovation                            0.583816
Layout                                0.550772
Frontage                              0.513887
Purpose of Use                        0.494842
Frontage roadFBreadth(m)             0.477998
Frontage roadFClassification         0.474547
Frontage roadFDirection              0.468696
Land shape                            0.468683
Region                                0.467875
Use                                   0.249180
Year of construction                  0.216593
Building structure                    0.208697
Nearest stationFDistance(minute)     0.020779
Maximus Floor-area Ratio(%)           0.014173
Maximus Building Coverage Ratio(%)    0.014173
City Planning                         0.009453
Nearest stationFName                 0.004001
Area                                  0.000476
City,Town,Ward,Village code           0.000000
Type                                  0.000000
Prefecture                            0.000000
Area(m^2)                             0.000000
City,Town,Ward,Village                0.000000
Transaction period                    0.000000
Transaction-price(total)              0.000000
dtype: float64

In [55]:
# removal of columns with excessive Nulls
tkn = tk.drop(['No','Layout','Transaction-price(Unit price m^2)','Total floor area(m^2)','Renovation','Transactional factors','Frontage','Purpose of Use','Frontage roadFBreadth(m)','Frontage roadFClassification','Frontage roadFDirection','Land shape','Region'],axis=1)

In [56]:
tkn.dropna(axis=0,inplace=True)

In [57]:
tkn.isna().sum().sort_values(ascending=False)

Type                                  0
City,Town,Ward,Village code           0
Prefecture                            0
City,Town,Ward,Village                0
Area                                  0
Nearest stationFName                 0
Nearest stationFDistance(minute)     0
Transaction-price(total)              0
Area(m^2)                             0
Year of construction                  0
Building structure                    0
Use                                   0
City Planning                         0
Maximus Building Coverage Ratio(%)    0
Maximus Floor-area Ratio(%)           0
Transaction period                    0
dtype: int64

In [58]:
tkn.shape

(366162, 16)

In [59]:
tkn.dtypes

Type                                   object
City,Town,Ward,Village code             int64
Prefecture                             object
City,Town,Ward,Village                 object
Area                                   object
Nearest stationFName                  object
Nearest stationFDistance(minute)      object
Transaction-price(total)              float64
Area(m^2)                              object
Year of construction                   object
Building structure                     object
Use                                    object
City Planning                          object
Maximus Building Coverage Ratio(%)    float64
Maximus Floor-area Ratio(%)           float64
Transaction period                     object
dtype: object

In [60]:
# Column Renaming
tkn.rename(columns = {'Transaction period':'Period'}, inplace = True)

In [61]:
tkn.Period.value_counts()

4th quarter 2020    6952
3rd quarter 2020    6709
1st quarter 2021    6676
2nd quarter 2021    6603
1st quarter 2015    6559
                    ...
3rd quarter 2006    2422
4th quarter 2006    2415
1st quarter 2006    2392
2nd quarter 2006    2285
4th quarter 2022    2236
Name: Period, Length: 70, dtype: int64

In [62]:
#Column splitting
tkn['Period'].str.split('quarter',expand=True).rename({0:'quarter', 1:'year'}, axis = 1)

       quarter   year
0         4th    2022
1         4th    2022
2         3rd    2022
3         3rd    2022
5         2nd    2022
...        ...    ...
516217    2nd    2008
516218    2nd    2008
516220    4th    2007
516221    4th    2007
516223    2nd    2007

[366162 rows x 2 columns]

In [63]:
#splitting period column to format it properly
tkn[['quarter','year']]=tkn['Period'].str.split('quarter',expand=True)

In [64]:
# reg[x] to remove a digit from a string in Quarter
tkn['quarter']=tkn['quarter'].str.extract('(\d)', expand=False)

In [65]:
#removal of spaces
tkn['year']=tkn['year'].str.strip()

In [66]:
#combined column
tkn['Period'] = tkn['year'] + '_q' + tkn['quarter']

In [67]:
#value check- 2000 or greater is a string therefore is not sorted right
tkn['Area(m^2)'].sort_values()

107125     10
212578     10
107661     10
186801     10
201289     10
         ...
478930    990
478959    990
503000    990
370803    990
299088    990
Name: Area(m^2), Length: 366162, dtype: object

In [68]:
#replacing string values based on assumption 
tkn['Area(m^2)'].replace('2,000 m^2 or greater.', '2000',inplace=True)

In [69]:
#casting columns to perform calculations
tkn = tkn.astype({'Transaction-price(total)': float,'Area(m^2)': float})

In [70]:
#checkup
tkn['Area(m^2)'].sort_values()

375368      10.0
291013      10.0
87982       10.0
162340      10.0
264230      10.0
           ...
70451     2000.0
160591    2000.0
14390     2000.0
486713    2000.0
37803     2000.0
Name: Area(m^2), Length: 366162, dtype: float64

In [71]:
#calculated field for price per meter squared
tkn['Price_Per_M^2'] = tkn['Transaction-price(total)']/tkn['Area(m^2)']

In [72]:
#checkup
tkn

,Type,"City,Town,Ward,Village code",Prefecture,"City,Town,Ward,Village",Area,Nearest stationFName,Nearest stationFDistance(minute),Transaction-price(total),Area(m^2),Year of construction,Building structure,Use,City Planning,Maximus Building Coverage Ratio(%),Maximus Floor-area Ratio(%),Period,quarter,year,Price_Per_M^2
0,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,13000000.0,15.0,1985,SRC,House,Commercial Zone,80.0,700.0,2022_q4,4,2022,8.666667e+05
1,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,2,44000000.0,45.0,1982,SRC,House,Commercial Zone,80.0,700.0,2022_q4,4,2022,9.777778e+05
2,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,120000000.0,60.0,1985,SRC,Shop,Commercial Zone,80.0,700.0,2022_q3,3,2022,2.000000e+06
3,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,150000000.0,60.0,2021,RC,House,Category II Residential Zone,60.0,400.0,2022_q3,3,2022,2.500000e+06
5,Residential Land(Land and Building),13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,1,890000000.0,420.0,2008,RC,Office,Commercial Zone,80.0,500.0,2022_q2,2,2022,2.119048e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516217,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,13,32000000.0,130.0,2008,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2008_q2,2,2008,2.461538e+05
516218,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,13,32000000.0,130.0,2008,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2008_q2,2,2008,2.461538e+05
516220,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,24,28000000.0,115.0,2007,W,House,Category I Exclusively Medium-high Residential...,60.0,200.0,2007_q4,4,2007,2.434783e+05
516221,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,16,31000000.0,130.0,2007,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2007_q4,4,2007,2.384615e+05
516223,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,18,26000000.0,270.0,1980,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2007_q2,2,2007,9.629630e+04

In [73]:
#checkup for calculated field
tkn['Price_Per_M^2']

0         8.666667e+05
1         9.777778e+05
2         2.000000e+06
3         2.500000e+06
5         2.119048e+06
              ...
516217    2.461538e+05
516218    2.461538e+05
516220    2.434783e+05
516221    2.384615e+05
516223    9.629630e+04
Name: Price_Per_M^2, Length: 366162, dtype: float64

In [74]:
#overview of prices to determine classifications of properties
tkn['Transaction-price(total)'].describe()

count    3.661620e+05
mean     6.265792e+07
std      4.008561e+08
min      1.200000e+03
25%      2.200000e+07
50%      3.500000e+07
75%      5.300000e+07
max      1.700000e+11
Name: Transaction-price(total), dtype: float64

In [75]:
#Classification of properties function


def property_type_func(row, q1,q3):


    if row['Transaction-price(total)'] <= q1:
           return 'low_end'
    elif row['Transaction-price(total)'] >= q3:
            return 'high_end'
    else:
            return 'mid_end'

In [76]:
#Applying function to data
q1 = tkn['Transaction-price(total)'].quantile(0.25)
q3 = tkn['Transaction-price(total)'].quantile(0.75)

tkn['Property_Classification']=tkn.apply(property_type_func,args=(q1,q3), axis=1)

In [77]:
#checkup
tkn['Property_Classification'].value_counts()

mid_end     178392
low_end      96014
high_end     91756
Name: Property_Classification, dtype: int64

In [78]:
#checkup
tkn

,Type,"City,Town,Ward,Village code",Prefecture,"City,Town,Ward,Village",Area,Nearest stationFName,Nearest stationFDistance(minute),Transaction-price(total),Area(m^2),Year of construction,Building structure,Use,City Planning,Maximus Building Coverage Ratio(%),Maximus Floor-area Ratio(%),Period,quarter,year,Price_Per_M^2,Property_Classification
0,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,13000000.0,15.0,1985,SRC,House,Commercial Zone,80.0,700.0,2022_q4,4,2022,8.666667e+05,low_end
1,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,2,44000000.0,45.0,1982,SRC,House,Commercial Zone,80.0,700.0,2022_q4,4,2022,9.777778e+05,mid_end
2,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,120000000.0,60.0,1985,SRC,Shop,Commercial Zone,80.0,700.0,2022_q3,3,2022,2.000000e+06,high_end
3,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,150000000.0,60.0,2021,RC,House,Category II Residential Zone,60.0,400.0,2022_q3,3,2022,2.500000e+06,high_end
5,Residential Land(Land and Building),13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,1,890000000.0,420.0,2008,RC,Office,Commercial Zone,80.0,500.0,2022_q2,2,2022,2.119048e+06,high_end
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516217,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,13,32000000.0,130.0,2008,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2008_q2,2,2008,2.461538e+05,mid_end
516218,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,13,32000000.0,130.0,2008,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2008_q2,2,2008,2.461538e+05,mid_end
516220,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,24,28000000.0,115.0,2007,W,House,Category I Exclusively Medium-high Residential...,60.0,200.0,2007_q4,4,2007,2.434783e+05,mid_end
516221,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,16,31000000.0,130.0,2007,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2007_q4,4,2007,2.384615e+05,mid_end
516223,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,18,26000000.0,270.0,1980,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2007_q2,2,2007,9.629630e+04,mid_end

In [79]:
tkn.rename(columns = {'Nearest station\x81FDistance(minute)':'Distance from Nearest Station(minute)','Nearest stationFName':'Nearest Station Name','Area':'District','City,Town,Ward,Village code':'Ward/City Code','City,Town,Ward,Village':'Ward/City','Transaction-price(total)':'Transaction-price(¥)','Maximus Building Coverage Ratio(%)':'Coverage Ratio(%)','Maximus Floor-area Ratio(%)':'Floor-area Ratio(%)'},inplace=True)

In [80]:
tkn

,Type,Ward/City Code,Prefecture,Ward/City,District,Nearest Station Name,Distance from Nearest Station(minute),Transaction-price(¥),Area(m^2),Year of construction,Building structure,Use,City Planning,Coverage Ratio(%),Floor-area Ratio(%),Period,quarter,year,Price_Per_M^2,Property_Classification
0,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,13000000.0,15.0,1985,SRC,House,Commercial Zone,80.0,700.0,2022_q4,4,2022,8.666667e+05,low_end
1,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,2,44000000.0,45.0,1982,SRC,House,Commercial Zone,80.0,700.0,2022_q4,4,2022,9.777778e+05,mid_end
2,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,120000000.0,60.0,1985,SRC,Shop,Commercial Zone,80.0,700.0,2022_q3,3,2022,2.000000e+06,high_end
3,"Pre-owned Condominiums, etc.",13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,3,150000000.0,60.0,2021,RC,House,Category II Residential Zone,60.0,400.0,2022_q3,3,2022,2.500000e+06,high_end
5,Residential Land(Land and Building),13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,1,890000000.0,420.0,2008,RC,Office,Commercial Zone,80.0,500.0,2022_q2,2,2022,2.119048e+06,high_end
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516217,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,13,32000000.0,130.0,2008,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2008_q2,2,2008,2.461538e+05,mid_end
516218,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,13,32000000.0,130.0,2008,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2008_q2,2,2008,2.461538e+05,mid_end
516220,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,24,28000000.0,115.0,2007,W,House,Category I Exclusively Medium-high Residential...,60.0,200.0,2007_q4,4,2007,2.434783e+05,mid_end
516221,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,16,31000000.0,130.0,2007,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2007_q4,4,2007,2.384615e+05,mid_end
516223,Residential Land(Land and Building),13305,Tokyo,"Hinode Town,Nishitama County",Oaza Hirai,Musashimasuko,18,26000000.0,270.0,1980,W,House,Category I Exclusively Low-story Residential Zone,40.0,80.0,2007_q2,2,2007,9.629630e+04,mid_end

In [81]:
tkn['Distance from Nearest Station(minute)'].unique()

array(['3', '2', '1', '5', '4', '0', '11', '6', '7', '8', '10', '9', '13',
       '12', '14', '15', '16', '19', '21', '18', '30-60minutes', '17',
       '22', '29', '1H-1H30', '28', '23', '25', '20', '26', '2H-', '24',
       '27', '1H30-2H'], dtype=object)

In [82]:
#estimate of minutes using average
tkn.replace({'Distance from Nearest Station(minute)' : {'30-60minutes' : '45', '2H-': '120', '1H-1H30' : '75','1H30-2H':'105'}},inplace=True)

In [83]:
tkn['Distance from Nearest Station(minute)'].unique()

array(['3', '2', '1', '5', '4', '0', '11', '6', '7', '8', '10', '9', '13',
       '12', '14', '15', '16', '19', '21', '18', '45', '17', '22', '29',
       '75', '28', '23', '25', '20', '26', '120', '24', '27', '105'],
      dtype=object)

In [84]:
tkn['Year of construction'].unique()

array(['1985', '1982', '2021', '2008', '1998', '1973', '2007', '2003',
       '1984', '2013', '2018', '1976', '1986', '2012', '1999', '1960',
       '2004', '1963', '1997', '1966', '1990', '1989', '2001', '2009',
       '2019', '2016', '1977', '2010', '2011', '1970', '1972', '1987',
       '1980', '2002', '2006', '2015', '1946', '2000', '1951', '2005',
       '1993', '2014', '1961', '1978', '1969', '1981', '1991', '1992',
       '1975', '1979', '1959', '1983', '1968', '1995', '2022', '1994',
       '1965', '2017', '1962', '1964', '1988', '1949', '2020', '1974',
       '1971', '1996', '1967', '1956', '1954', 'before the war', '1953',
       '1948', '1950', '1958', '1957', '1955', '1947', '1952', '2023'],
      dtype=object)

In [85]:
tkn.drop(tkn[tkn['Year of construction'] == 'before the war'].index, inplace = True)

In [86]:
tkn['Year of construction'].unique()

array(['1985', '1982', '2021', '2008', '1998', '1973', '2007', '2003',
       '1984', '2013', '2018', '1976', '1986', '2012', '1999', '1960',
       '2004', '1963', '1997', '1966', '1990', '1989', '2001', '2009',
       '2019', '2016', '1977', '2010', '2011', '1970', '1972', '1987',
       '1980', '2002', '2006', '2015', '1946', '2000', '1951', '2005',
       '1993', '2014', '1961', '1978', '1969', '1981', '1991', '1992',
       '1975', '1979', '1959', '1983', '1968', '1995', '2022', '1994',
       '1965', '2017', '1962', '1964', '1988', '1949', '2020', '1974',
       '1971', '1996', '1967', '1956', '1954', '1953', '1948', '1950',
       '1958', '1957', '1955', '1947', '1952', '2023'], dtype=object)

In [87]:
tkn.to_csv('Tokyo_Real_estate_Finals.csv',index=False)